/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-color: #7477BF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    position: absolute;
    left: 15px;
}

.header svg {
    width: 20px;
    margin-right: 15px;
    margin-top: 3px;
}

.headerDivider {
    border-right:1px solid #5D61BF; 
    height:30px;
    position:absolute;
    right:123px;
    top:5px; 
}

.header img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    
}

.header h3 {
    color: white;
    margin-right: 10px;
    font-weight: 100;
    font-size: 13px;
}

/* Nav */

.nav {
    background-color: #4D4C72;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    border-bottom: 3px solid rgb(33, 33, 49);
}

.nav a {
    width: 20px;
    padding-top: 5px;
    margin: 0px 10px;
}

.nav-selected {
    border-bottom: 2px solid white;
}

/* Main */

main {
    display: grid;
    font-family:'Open Sans', sans-serif;
    color: #8F8F8F;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #666666;
}

.main-section {
    padding: 15px 0px 0px 12px;
    border-bottom: 1px solid #D1D1D1;
}

/* Dashboard */

.main-header {
    display: flex;
    text-align: right;
}

.headline {
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 14px;
    padding-top: 8px;
}

.main-header-search {
    width: 75%;
    background-color: #FBFBFB;
    border-left: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    border-bottom-left-radius: 5px;
}

.main-header-search input {
    width: 62%;
    height: 50%;
    margin: 6px 5px 0 0;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    padding-left: 5px;
    font-size: 10px;
}

/* Traffic */

.traffic h3 {
    display: inline-block;
}

.traffic-nav {
    list-style-type: none;
    overflow: hidden;
    display: inline;
}

.traffic-nav-link {
    float: right;
    display: block;
    text-align: center;
    margin-top: 5px;
    padding:  2px 6px;
    text-decoration: none;
    font-size: 9px;
}

.active {
    background-color: #81C98F;
    border-radius: 50px;
    color: white;
}


/* Social Stats */

.social-stats h3 {
    margin-bottom: 10px;
}

.social-stats-container {
    margin-bottom: 20px;
}

.social-stats-box {
    width: 90px;
    background-color: #FBFBFB;
    margin: 2px;
    display: inline-block;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
}

.social-svg {
    width: 30px;
    height: 30px;
    background-color: #7377BF;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 5px 5px;
}

.twitter-svg {
    width: 15px;
    height: 15px;
    padding-top: 9px;
}

.facebook-svg {
    width: 20px;
    height: 20px;
    padding-top: 4px;
}

.google-svg {
    width: 15px;
    height: 15px;
    padding-top: 8px;
}

.social-text {
    display: inline-block;
    padding: 5px 0px 5px 2px;
}

.social-stats-box h4 {
    font-size: 7px;
    color: #7477BF;
}

.social-stats-box span {
    font-size: 13px;
}

/* New Members */

.new-members-div {
    width: 280px;
    border-bottom: 1px solid #E9E9E9;
}

.new-members img {
    width: 35px;
    border-radius: 50%;
    margin-top: 10px;
}

.new-members-info {
    display: inline-block;
    margin: 0 0 15px 10px;
}

.new-members p {
    font-size: 15px;
}

.new-members {
    font-size: 10px;
}

p.new-members-post-date {
    font-size: 10px;
    float: right;
    margin-top: 25px;

}

/* Recent Activity */

.recent-activity-div {
    width: 280px;
    border-bottom: 1px solid #E9E9E9;
    display: flex;
}

.recent-activity img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 10px 0 10px 0;
}

.recent-activity-info {
    display: inline-block;
    margin: 17px 0 15px 10px;
}

.recent-activity p {
    font-size: 8px;
}

p.recent-activity-arrow {
    font-size: 20px;
    color: #787CC1;
    align-self: flex-end;
    margin: 0 0 15px auto;
}

/* Message User */

.message-user-form {
    margin: 15px 0;
}

.message-user-form input {
    width: 275px;
    height: 25px;
    background-color: #FBFBFB;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 11px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
}

.message-user-form input::placeholder,
.message-user-form textarea::placeholder {
    color: #BBBBBB;
    font-family: 'Open Sans', sans-serif;
}

.message-user-form textarea {
    width: 275px;
    height: 75px;
    margin-top: 10px;
    background-color: #FBFBFB;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 11px;
    padding: 5px 0 0 15px;
    font-family: 'Open Sans', sans-serif;
    resize: none;
}

.message-user-form button {
    width: 292px;
    height: 25px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #7377BF;
    color: white;
    font-size: 10px;
    font-weight: 600;
}

/* Settings */

.settings-div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.settings-div p {
    font-size: 14px;
}

.switch-ios {
    width: 90px;
    margin: 0 20px 0 auto;
}

.form-field {
    margin-top: 35px;
    width: 290px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    height: 30px;
    color: #BBBBBB;
    font-size: 10px;
    background-color: #FBFBFB;

}

.settings-buttons {
    display: flex;
    width: 290px;
    justify-content: space-between;
    margin: 15px 0;
}

.button-primary,
.button-disabled {
    width: 135px;
    border: none;
    border-radius: 3px;
    height:24px;
    color: white;
}

.button-primary {
    background-color: #7377BF;
}

.button-disabled {
    background-color: #B2B2B2;
}

.switch-ios.switch-light input:checked ~ span a {
    border-color: #E0E0DF;
}

.switch-ios.switch-light input:checked ~ span {
    border-color: #4BD865;
    box-shadow: inset 0 0 0 30px #7377BF; 
}

/* 720px Media */

@media (min-width: 768px) {

    .grid-container {
        display: grid;
        grid-template-columns: 55px auto;
        grid-template-rows: 50px auto;
    }

    /* 720px - header */

    .header {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 100%;
    }

    .headerDivider {
        top: 10px
    }

    /* 720px - nav */

    .nav {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        width: 55px;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border: none;
    }

    .nav a {
        padding-top: 15px;
    }

    .nav a img {
        height: 25px;
        width: 25px;
        fill: #A6A6B9;
    }

    .nav-selected {
        border: none;
    }

    /* 720px - main layout */

    main {
        display: grid;
        grid-template-columns: 50% ;
    }

    h3 {
        font-size: 13px;
    }

    .main-header, .traffic, .social-stats {
        grid-column: 1 / span 2;
    }

    .daily-traffic, .new-members, .message-user {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
    
    .mobile-users, .recent-activity, .settings {
        border-left: 1px solid #D1D1D1;
    }

    /* 720px - dashboard */

    .main-header-search {
        width: 100%;
    }

    .main-header-search input {
        width: 30%;
    }

   /* 720px - social */

    .social-stats {
        padding: 0;
    }

    .social-stats h3 {
        padding: 15px 0px 0px 12px;
    }

   .social-stats-container {
       display: flex;
       justify-content: space-evenly;
    }

   .social-stats-box {
       width: 215px;
       height: 70px;
       border-radius: 5px;
    }
    
    .social-svg {
        width: 45px;
        height: 45px;
        margin: 12px 0 auto 20px;
    }

    .twitter-svg {
        width: 23px;
        height: 23px;
        padding-top: 13px;
    }

    .facebook-svg {
        width: 28px;
        height: 28px;
        padding-top: 7px;
    }

    .google-svg {
        width: 23px;
        height: 23px;
        padding-top: 12px;
    }

    .social-stats-box h4 {
        font-size: 12px;
    }

    .social-stats-box span {
        font-size: 27px;
    }

    /* 720px - new members */

    .new-members-div {
        width: 320px;
    }

    /* 720px - recent activity */

    .recent-activity-div {
        width: 320px;
        height: 63px;
    }

    .recent-activity p {
        font-size: 9px;
    }

    p.recent-activity-arrow {
        font-size: 25px;
    }

    /* 720px - message user */

    .message-user-form input {
        width: 310px;
        height: 30px;
    }

    .message-user-form textarea {
        width: 310px;
        height: 100px;
    }

    .message-user-form button {
        width: 327px;
        height: 35px;
    }

    /* 720px - settings */

    .form-field {
        margin-top: 30px;
        width: 325px;
    }

    .settings-buttons {
        display: flex;
        width: 325px;
        justify-content: space-between;
        margin: 10px 0;
    }

    .button-primary,
    .button-disabled {
        width: 150px;
        height: 35px;
    }

}